

html{
  margin:0px;
  overflow-x: hidden;
  max-width: 100%;
  background: #110101;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  backface-visibility: visible;
}

body
{
  height: 100%;
}

nav{
  text-align: center;
  padding: 5vh 30px 40px;
  width: 100%;
  margin-top: 0px;
  margin-left: -40px;
  background-color: rgba(167, 0, 167, 0.3);
}

ul{
  display: flex;
}

nav ul li{
  display: inline-block;
  padding-right: 5vw;
  padding-left: 1vw;
  color: white;
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

nav ul li a:link{
  color: white;
  text-decoration: none;
}

nav ul li a:visited{
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
  border: white 1px solid;
}

nav ul li a:active{
  color: white;
}



#logo {
  border-radius: 1px;
  margin: 0px auto;
  width: 25vw;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);

}


.grid-item {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 40px 20px;
}


.addressTxt{
  color: white;
  padding: 10px;
  overflow:auto;
}

.map{
  margin: 10px 10px 10px -40px;
  padding: 2px 10px 70px 50px;
  background: #110101;
  background-size:contain;
}


.flip-card {
  background-color: transparent;
  width: 45vw;
  height: 45vh;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.about{
  padding: 10px 0px 10px;
  clear: both;
  display: flex;
  align-content: center;
}

.one{
  float: left;
  flex: 1;
  margin-left: 10px;
}

.two{
  float: left;
  flex: 1;
  margin-left: 10px;
}
